.opis {
    font-family: sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
    background-color: green;
}

#opis2 {
    font-family: sans-serif;
    font-size: 30px;
    background-color: red;
}

.grid {
    background-color: green;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px auto auto;
}

.grid-item {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}